<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<style>
    body {
        background-color: rgb(26, 25, 25);
        color: white; /* Add this line to set the text color to white */
    }

    /* CSS to center text horizontally */
    .footer-text {
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Discord Bot Dashboard</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 class="text-center">Dashboard</h1>
        <p class="text-center">Welcome, <%= user.username %>!</p>
        <h2 class="text-center">Select a Server</h2>
        <form action="/dashboard" method="POST" class="mt-4">
            <div class="form-group">
                <label for="guildId">Select a Server:</label>
                <select id="guildId" name="guildId" class="form-control">
                    <% guilds.forEach(guild => { %>
                        <option value="<%= guild.id %>" <%= guild.chosen? 'elected' : '' %>><%= guild.name %></option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Select</button>
        </form>
        <% if (selectedGuild) { %>
            <h2 class="text-center">Your Servers</h2>
            <div class="list-group">
                <a href="/dashboard/<%= selectedGuild.id %>/welcome" class="list-group-item list-group-item-action">Welcome System</a>
                <a href="/dashboard/<%= selectedGuild.id %>/invite-logs" class="list-group-item list-group-item-action">Invite Logs</a>
            </div>
        <% } %>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>